<h1><%= @cocktail.name %></h1>

<br>
<% if @cocktail.cocktail_photo? %>
  <%= cl_image_tag @cocktail.cocktail_photo, height: 300, width: 400, crop: :fill %>
<% else %>
  <%= render 'image_upload' %>
<% end %>

<hr>
<br>
<ul>
  <ol>
    <% @doses.each do |dose| %>
    <li> <%= dose.description %> -- <%= dose.ingredient.name %> </li>
    <% end %>
  </ol>
</ul>
<br>
<hr>
<br>
  <%= render 'doses/form' %>
<br>

<%= link_to "Back to home", cocktails_path %>
